*.suo
*.user
*.pdb
*.exe*
*.vshost.exe.*
Bin/
Obj/
Debug/
Release/



spells_us*.txt*
dbstr_us*.txt*
SpellStackingGroups*.txt*
manifest.dat
*.zip
*.gz
/.vs/eqspellparser/v15/Server/sqlite3
/parser
/winparser/lzma.dll
