<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" initializeData="true"  />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>
